.left-col {
    width: 30%;
    display: table-cell;
}

.right-col {
    width: 30%;
    display: table-cell;
    vertical-align: top;
}

.right-col-content {
    margin-top: -90px;
}

.HomePage {
    margin-left: 15%;
    margin-right: 15%;
}

.display-comments {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 1rem;;
    text-align: left;
}

