.left-col {
    width: 30%;
    display: table-cell;
}

.right-col {
    width: 30%;
    display: table-cell;
    vertical-align: top;
}

.right-col-content {
    margin-top: -80px;
}

.HomePage {
    margin-left: 15%;
    margin-right: 15%;
}

.display-comments {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: 15%;
    margin-bottom: 1rem;;
}

.comments {
    border: 1px solid #A68DAD;
}